<footer class="footer">
  <div class="footer-wrap">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a href="<%= t('url.twitter') %>">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="<%= t('url.github') %>">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
    <ul class="horizontal-list">
      <li class="horizontal-item"><%= link_to 'お問い合わせ', new_contact_path %></li>
      <li class="horizontal-item"><%= link_to 'サイトマップ', sitemaps_path %></li>
      <li class="horizontal-item"><%= link_to 'プライバシーポリシー', privacy_path %></li>
    </ul>
    <p class="copyright text-muted text-center mb-0">Copyright &copy; shu 2020</p>
  </div>
</div>
