<tr>
  <td>
    <% if post.image.attached? %>
      <%= image_tag(post.mini_thumbnail) %>
    <% else %>
      <img src="/assets/no-image.png" width="80" height="80" />
    <% end %>
  </td>
  <td><%= link_to truncate(post.title, length: 15), edit_admin_post_path(post) %></td>
  <td>
    <% post.categories.each do |category| %>
      <%= link_to category.name, admin_category_path(category) %>
    <% end %>
  </td>
  <td><%= post.published %></td>
  <td><%= post.created_at.to_s(:datetime) %></td>
  <td><%= link_to '×', admin_post_path(post), method: :delete, class: 'delete-btn', data: { confirm: "記事「#{post.title}」を削除します。よろしいですか？"} %></td>
</tr>
