<h1>Category</h1>


<div class="category-list">
  <ul class="list-group">
    <% @categories.each do |category| %>
      <li class="list-group-item" data-category="<%= category.id %>">
        <%= render 'category', category: category %>
      </li>
    <% end %>
  </ul>
</div>

<div class="category-form">
  <%= form_with(model: [ :admin, @category ], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'New Category' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'save', class: 'submit-btn' %>
  <% end %>
</div>
