<% set_meta_tags title: @post.title, description: @post.description, keywords: @post.tag_list.join(","), og: { title: @post.title, description: @post.description, type: 'article' }, twitter: { title: @post.title, description: @post.description } %>
<div class="post">
  <div class="post-sub">
    <h1 class="post-title">
      <%= @post.title %>
    </h1>
    <% if @post.user == current_user %>
      <span class="post-edit"><%= link_to '編集', edit_admin_post_path(@post) %></span>
    <% end %>
    <div class="post-keywords">
      <ul class="post-category">
        <% @post.categories.each do |category| %>
        <li class="item">
          <%= category.name %>
        </li>
        <% end %>
      </ul>
      <ul class="post-tags">
        <% @post.tag_list.each do |tag| %>
        <li class="item">
          #<%= tag %>
        </li>
        <% end %>
      </ul>
    </div>
    <p class="post-date">
      <%= @post.updated_at.to_s(:datetime) %>
    </p>
    <div class="post-img">
      <%= image_tag(@post.post_thumbnail) if @post.image.attached? %>
    </div>
  </div>
  <div class="adsense">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8061311962505780"
         data-ad-slot="3622411355"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="toc">
  </div>
  <div class="post-main custom-head">
    <div class="post-text fr-element fr-view">
      <%== @post.text %>
    </div>
  </div>
  <div class="shareList">
    <%= link_to 'Twitterでシェア', "https://twitter.com/share?url=#{request.url}", class: 'shareList__link icon-twitter', title: 'Twitter', target: '_blank' %>
    <%= link_to 'Facebookでシェア', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", class: 'shareList__link icon-facebook', title: 'Facebook', target: '_blank' %>
    <%= link_to 'LINEでシェア', "http://line.me/R/msg/text/?#{request.url}", class: 'shareList__link icon-line', title: 'LINE', target: '_blank' %>
  </div>
  <div class="adsense">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-8061311962505780"
    data-ad-slot="8379365276"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
